# Symfony
backend/.env.local
backend/.env.*.local
backend/var/
backend/vendor/
backend/config/jwt/

# React
frontend/node_modules/
frontend/dist/
frontend/.env.local
frontend/.env

# Docker
.docker/

# OS
.DS_Store
Thumbs.db

.vscode/